@import 'ui-label/variables';
$enable-flex: true;

// @import 'ui-label/bootstrap/variables';
@import 'ui-label/bootstrap/mixins/border-radius';
@import 'ui-label/bootstrap/mixins/hover';
@import 'ui-label/bootstrap/mixins/tag';
@import 'ui-label/bootstrap/tags';

@import 'ui-label/mood';

.tag.clickable {
  @include hover-focus {
    color: $tag-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

