@import 'ui-tag/variables';
$enable-flex: true;

// @import 'ui-tag/bootstrap/variables';
@import 'bootstrap-source/mixins/border-radius';
@import 'bootstrap-source/mixins/hover';
@import 'bootstrap-source/mixins/tag';
@import 'bootstrap-source/tags';

@import 'ui-tag/mood';
@import 'ui-tag/size';

.tag.clickable {
  @include hover-focus {
    color: $tag-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

