$enable-flex: true;
@import 'bootstrap-source/variables';
@import 'ui-tag/variables';

@import 'bootstrap-source/mixins/border-radius';
@import 'bootstrap-source/mixins/hover';
@import 'bootstrap-source/mixins/badge';
@import 'bootstrap-source/badge';

@import 'ui-tag/mood';
@import 'ui-tag/size';

.tag.clickable {
  @include hover-focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

